@import url('figmacreddit/XL.css');
@import url('figmacreddit/L.css');
@import url('figmacreddit/M.css');
@import url('figmacreddit/S.css');
@import url('figmacreddit/XS.css');

body {
    background: #000000;
    position: relative;
}

a {
    all: unset;
}

a:hover {
    cursor: pointer;
}